body {
   margin: 0;
   min-width: 320px;
   min-height: 100vh;
   background: none;
   box-sizing: border-box;
   font-family: 'Microsoft YaHei', 'PingFang SC', 'Helvetica Neue', Arial, sans-serif;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}